<div class="container-fluid">
  <form #searchForm="ngForm" [appFromToCheck]="['cargoAtFrom', 'cargoAtTo']" >
    <!-- 1行目 -->
    <div class="row form-inline">
      <!-- ディスタ -->
      <div class="col-sm-6 col-lg-5 col-xl-4 form-group">
        <select class="form-control" [(ngModel)]="formCondition.shpcd" name="shpcd">
          <option *ngFor="let store of stores;" [value]="store.shpcd">{{store.name}}</option>
        </select>
      </div>

      <!-- 指示元 -->
      <div class="col-sm-6 col-lg-3 col-xl-3 form-group">
        <label class="caption-short">指示元</label>
        <select class="custom-select" [(ngModel)]="formCondition.instructorSystem" name="instructorSystem">
          <option *ngFor="let instructorSystem of INSTRUCTION_SYSTEME_SELECT_VALUES" [value]="instructorSystem">
            {{instructorSystem | instructorSystemType }}
          </option>
        </select>
      </div>

      <!-- 出荷日 -->
      <div class="col-sm-12 col-lg-8 col-xl-5 mt-xl-0 mt-sm-2 form-group">
        <label class="caption">出荷日</label>
        <div class="input-group">
          <!-- 出荷日 from -->
          <input type="tel" class="length_10 form-control"
            (blur)="onBlurDate($event.target.value, 'cargoAtFrom');" appDateInput ngbDatepicker
            #cargoAtFrom="ngbDatepicker" [showWeekNumbers]="true" maxlength="10"
            [(ngModel)]="formCondition.cargoAtFrom" name="cargoAtFrom">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calBtn" (click)="cargoAtFrom.toggle()" type="button">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>
        <span class="ml-2 mr-2">～</span>
        <div class="input-group">
          <!-- 出荷日 to -->
          <input type="tel" class="length_10 form-control" (blur)="onBlurDate($event.target.value, 'cargoAtTo');"
            appDateInput ngbDatepicker #cargoAtTo="ngbDatepicker" [showWeekNumbers]="true" maxlength="10"
            [(ngModel)]="formCondition.cargoAtTo" name="cargoAtTo">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calBtn" (click)="cargoAtTo.toggle()" type="button">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>
        <!-- エラーメッセージ -->
        <ng-container *ngIf="searchForm != null && searchForm.touched">
          <div class="invalid-feedback d-block">
            <div *ngIf="searchForm.controls.cargoAtFrom.errors?.ngbDate?.invalid
              || searchForm.controls.cargoAtTo.errors?.ngbDate?.invalid"
              translate='{{"ERRORS.VALIDATE.DATE_FORMAT"}}'></div>
          </div>
        </ng-container>
      </div>
    </div>
    <!-- //ここまで1行目 -->

    <!-- 2行目 -->
    <div class="row mt-2 form-inline d-flex align-items-center">

      <!-- 課 -->
      <div class="col-sm-12 col-lg-3 col-xl-3 form-group">
        <label class="caption-short">課</label>
        <input type="tel" class="form-control code_2" minlength="2" maxlength="2" pattern="^[0-9]+$"
          (change)="onChangeDivision()" [(ngModel)]="formCondition.divisionCode" #divisionCode
          name="divisionCode">
        <span class="ml-2">{{divisionName}}</span>
        <!-- エラーメッセージ -->
        <ng-container *ngIf="searchForm != null && searchForm.touched">
          <div class="invalid-feedback d-block" *ngIf="searchForm.controls.divisionCode.errors">
            <div *ngIf="searchForm.controls.divisionCode.errors.pattern"
              translate='{{"ERRORS.VALIDATE.PATTERN_NUMBER"}}'></div>
            <div *ngIf="searchForm.controls.divisionCode.errors.minlength"
              translate='{{"ERRORS.VALIDATE.LENGTH_NOT_MATCH"}}' [translateParams]="{name:'', length:'2'}"></div>
          </div>
        </ng-container>
      </div>

      <!-- 事業部 -->
      <div class="col-sm-12 col-lg-9 col-xl-4 mt-lg-0 mt-sm-2 form-group">
        <label class="caption-short">事業部</label>
        <select class="form-control" [(ngModel)]="formCondition.departmentCode" name="departmentCode">
          <option selected></option>
          <option *ngFor="let department of departments;" [value]="department.code1">{{department.item2}}</option>
        </select>
      </div>

      <!-- ブランド -->
      <div class="col-sm-6 col-lg-3 col-xl-2 mt-lg-2 mt-sm-2 form-group">
        <label class="caption">ブランド</label>
        <select class="form-control" [(ngModel)]="formCondition.brandCode" name="brandCode">
          <option selected></option>
          <option *ngFor="let brand of brands;" [value]="brand.brandCode">{{brand.brandCode}}</option>
        </select>
      </div>

     <!-- アイテム -->
      <div class="col-sm-6 col-lg-8 col-xl-2 mt-lg-2 mt-sm-2 form-group">
        <label class="caption">アイテム</label>
        <select class="form-control" [(ngModel)]="formCondition.itemCode" name="itemCode">
          <option selected></option>
          <option *ngFor="let item of items" [value]="item.code2">{{item.code2}}</option>
        </select>
      </div>

      <!-- 検索ボタン -->
      <div class="col-sm-12 col-lg-1 col-xl-1 mt-lg-2 text-right">
        <button class="btn btn-info" type="button" (click)="onSearch(searchForm)"
        [disabled]="isLoading">検索</button>
      </div>

    </div>
    <!-- //ここまで2行目 -->
  </form>
</div>
