@import 'mixins';
input[type=checkbox] {
  @include checkbox;
}
div.table-wrapper {
  overflow-y: scroll;
  width: auto;
  max-height: 400px;

  table.sticky-table {
    border: $border;
    border-spacing: 0;
    border-collapse: separate;
    thead th {
      @include fix-thead-tr;
    }

    th,
    td {
      font-size: 14px;
      font-weight: normal;
      height: 30px;
      padding: 2px 5px;
      border: $border;

      &.width-40 {
        max-width: 40px;
        min-width: 40px;
      }

      &.width-100 {
        max-width: 100px;
        min-width: 100px;
      }

      &.width-300 {
        max-width: 300px;
        min-width: 300px;
      }

      &.width-480 {
        max-width: 480px;
        min-width: 480px;
      }

      a {
        text-decoration: underline;
      }

      div.ellipsis {
        width: 460px;
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        cursor: pointer;
      }
    }
  }
}
