div.memo-row {
  margin-top: 30px;
}

div.order-form-container {
  margin-top: 30px;

  p {
    margin: 0;
  }

  div {
    font-size: 13.5px;

    &.table-heading-row {
      display: flex;
    }

    &.all-content-container {
      display: flex;

      div {
        &.delivery-plan-details-container {
          width: 460px;
          overflow-x: scroll;
          display: flex;

          // FF Only
          @media screen and (-moz-images-in-menus: 0) {
            direction: rtl; // スクロール初期位置を右端にする
          }

          // Chrome Only
          @media screen and (-webkit-min-device-pixel-ratio:0) {
            direction: rtl; // スクロール初期位置を右端にする
          }

          // Edge Only
          @supports (-ms-ime-align:auto) {
            direction: rtl; // スクロール初期位置を右端にする
          }

          div.input-plan-block {
            display: flex;

            // FF Only
            @media screen and (-moz-images-in-menus: 0) {
              direction: ltr; // 親要素のdirection: rtlで子要素の表示順が変わってしまうので戻す
            }

            // Chrome Only
            @media screen and (-webkit-min-device-pixel-ratio:0) {
              direction: ltr; // 親要素のdirection: rtlで子要素の表示順が変わってしまうので戻す
            }

            // Edge Only
            @supports (-ms-ime-align:auto) {
              direction: ltr; // 親要素のdirection: rtlで子要素の表示順が変わってしまうので戻す
            }

          }
        }

        &.order-sku-aggregate-row {
          display: flex;
        }

        &.order-sku-cell-row {
          display: flex;
        }
      }
    }

    div {
      &.grid-cell {
        line-height: 2;
        padding: 5px;
        height: 35px;
        background: #fff;
        border-top: solid 1px black;
        border-left: solid 1px black;

        p.red-font {
          color: red;
        }
      }

      &.grid-input-cell {
        padding: 1px;
        line-height: 1;
        border-top: solid 1px black;
        border-left: solid 1px black;

        input {
          height: 32px;
        }

        input:not(:disabled) {
          background-color: #f0fff0;
          font-size: 13.5px;
        }

        input:disabled {
          font-size: 13.5px;
        }
      }

      &.end-row-grid-cell {
        border-bottom: solid 1px black;
      }

      &.end-column-grid-cell {
        border-right: solid 1px black;
      }
    }
  }
}

div {
  $width-s: 54px; // sの基準サイズ
  $width-m: 82px; // mの基準サイズ
  $width-l: 115px; // lの基準サイズ

  &.grid-width-s {
    width: $width-s;
    min-width: $width-s;
  }

  &.grid-width-s-double {
    width: $width-s * 2;
    min-width: $width-s * 2;
  }

  &.grid-width-m {
    width: $width-m;
    min-width: $width-m;
  }

  &.grid-width-m-double {
    width: $width-m * 2;
    min-width: $width-m * 2;
  }

  &.grid-width-l {
    width: 115px;
    min-width: 115px;
  }

  &.delivery-plan-details-container {
    width: $width-l * 4;
  }
}

div.registered-label {
  border-left: solid 4px #91B5F2;
  border-right: solid 4px #91B5F2;
  color: #0036C7;
  background: #80D7FF;
  transition: .4s;
  width: 180px;
  margin-right: 0;
  margin-left: auto;
}

::-webkit-input-placeholder {
  color: #e0e0e0;
  font-size: 14px;
}

footer {
  // 右の固定幅
  .footer-right {
    max-width: 140px;
  }
}