<div class="modal-header">
	<div class="modal-title" id="modal-basic-title">生産メーカー検索</div>
	<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
	<form [formGroup]="searchFormGroup">
		<div class="search-condition">
			<select class="custom-select form-control" formControlName="searchType">
				<option *ngFor="let searchType of searchTypes" [value]="searchType.id">{{searchType.name}}</option>
			</select>
			<input type="text" class="form-control" formControlName="searchText">
		</div>
		<div class="search-submit">
			<button type="submit" (click)="onSearch()" class="btn btn-outline-dark" [disabled]="!searchFormGroup.valid || searchLoading">検索</button>
		</div>
	</form>
	<hr>
	<div *ngIf="searchLoading" class="search-loading">
	</div>
	<div *ngIf="!searchLoading" class="search-result">
		<div *ngIf="searchResultItems.length == 0">
			<p>検索結果がありません</p>
		</div>
		<table *ngIf="searchResultItems.length > 0">
			<thead>
				<tr>
					<th scope="col" class="code-column">コード</th>
					<th scope="col" class="name-column">名称</th>
				</tr>
			</thead>
			<tbody detect-scroll (onScroll)="onScroll($event)" [bottomOffset]="200" [topOffset]="200">
				<tr *ngFor="let item of searchResultItems;" class="{{item.selected ? 'selected' : ''}}" (click)="onSelectRow(item)">
					<td class="code-column">{{item.item.sire}}</td>
					<td class="name-column">{{item.item.name}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<br>
</div>
<div class="modal-footer">
	<button type="button" *ngIf="searchResultItems.length > 0" class="btn btn-outline-dark" (click)="onSelect()" [disabled]="!selectedItem">選択</button>
</div>
