<!--PRD_0133 #10181 add JFE start -->
<ng-container *ngIf="visibled">
  <!-- 検索 -->
  <div class="mb-4">
    <app-purchase-record-list-form [isLoading]="isLoading" [stores]="stores" [brands]="brands"
      [mdfMakerName]="mdfMakerName" [divisionMasterList]="divisionMasterList" [fixArrivalCountSum]="fixArrivalCountSum"
      [mKyuSum]="mKyuSum" [unitPriceSumTotal]="unitPriceSumTotal" (clickSearchButton)="onClickSearchBtn($event)"
      (changeMaker)="onChangeMaker($event)">
    </app-purchase-record-list-form>
  </div>

  <!-- 検索結果関係のメッセージ -->
  <div class="mb-2 ml-2 mr-2 mb-2" *ngIf="message.body.error.code.length > 0">
    <div class="alert alert-danger p-1 mb-0">
      <div [translate]="message.body.error.code" [translateParams]="message.body.error.param"></div>
    </div>
  </div>
  <!-- 一覧 -->
  <div class="result ml-2 mr-2">
    <app-purchase-record-list-result (scrollToBottom)="onScrollToBottom($event)"
      (ClickVoucherNumBerLink)="onClickVoucherNumBerLink($event)" [fileDLErrorMessageCode]="fileDLErrorMessageCode">
    </app-purchase-record-list-result>
  </div>

  <footer class="align-items-center">
    <!-- メッセージエリア -->
    <div class="footer-center ml-3">
      <div class="alert-success" [translate]="message.footer.success.code"
        [translateParams]="message.footer.success.param" *ngIf="message.footer.success.code.length"></div>
    </div>

    <!-- 右ボタンエリア -->
    <div class="footer-left">
      <input class="btn btn-success mr-0" (click)="onCreatePDF()" type="button" [disabled]="noResult" value="PDF作成">

      <input class="btn btn-success mr-3" (click)="onCreateCSV()" type="button" [disabled]="noResult" value="CSV作成">
    </div>
  </footer>

</ng-container>
<!--PRD_0133 #10181 add JFE end -->
