//PRD_0133 #10181 add JFE start
div.result {
  margin-bottom: 75px;
}

footer {

  // 右の固定幅
  .footer-left {
    max-width: 230px;
  }
}

input{
  margin-left: 15px;
  margin-right: 15px;
}

//PRD_0133 #10181 add JFE end
