h1 {
  text-align: center;
}

.logo {
  max-width: 40%;
}

.inner {
  margin-top: 30px;
  width: 100%;
  max-width: 400px;
  border: 3px solid #aaa;
  padding: 30px;
}

.alert {
  padding: 1px 5px;
  margin: 1px 5px;
}

.not-supported {
  margin: auto;
  text-align: center;
}

.container-fluid {
  margin-right: 0px;
  margin-left: 0px;
}
