/** テーブルのヘッダーの背景色 */
$thead-background-color: #e6e6fa !default;
/** テーブルのフッターの背景色 */
$tfoot-background-color: #e6e6fa !default;

/** 警告用の赤 */
$alert-red: #ff0000;

$border: 1px solid #b4b4b4;

$wihte: #fff;
$red: #ff0000;

/** 選択行の背景色 */
$select-tr-bg-color: rgba(40, 101, 182, 0.89);

/** 必須マークの色 */
$required-color: #d00;
